@import "tailwindcss";

.terminal-cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}

.typing-cursor {
    display: inline-block;
    width: 8px;
    height: 16px;
    background-color: #fe8181;
    margin-left: 2px;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    50.01%,
    100% {
        opacity: 0;
    }
}

.animate-fadeIn {
    animation: fadeInTerminal 0.5s ease-in;
}

@keyframes fadeInTerminal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: "JetBrains Mono", monospace;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;
    scroll-behavior: smooth;
}
